
.topnav {
  overflow: hidden;
  background-color: rgb(104, 102, 102);
}

.topnav a {
  float: left;
  display: block;
  color: rgb(52, 52, 53);
  text-align: center;
  padding: 60px 50px;
  text-decoration: none;
}


.topnav a:hover {
  background-color: rgb(77, 71, 90);
  color: rgb(158, 152, 158);
}


.content {
  background-color: rgb(161, 160, 160);
  padding: 10px;
  height: 810px; 
}
p {
  margin: auto;  
  padding: 20px;
  text-align: left;
  font-weight: italic; 
}
.footer {
  background-color: hsla(0, 0%, 95%, 0.774);
  padding: 40px;
}